# Población mundial
dataset: https://www.kaggle.com/datasets/joebeachcapital/world-population-by-country-2023?resource=download

In [1]:
import pandas as pd
import os 
from pathlib import Path

In [5]:
Route = Path(".").resolve()
filename = "WorldPopulation2023.csv" 
file_path = os.path.join(Route,filename)
file_path

'C:\\Users\\calde\\OneDrive\\Escritorio\\clase_objetos\\WorldPopulation2023.csv'

In [9]:
dataframe = pd.read_csv(file_path, sep=",", encoding="utf-8")
dataframe.head(5)

,Rank,Country,Population2023,YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop%,WorldShare
0,36,Afghanistan,42239854,2.70 %,1111083,65,652860,-65846,4.4,17.0,26 %,0.53 %
1,138,Albania,2832439,-0.35 %,-9882,103,27400,-8000,1.4,38.0,67 %,0.04 %
2,34,Algeria,45606480,1.57 %,703255,19,2381740,-9999,2.8,28.0,75 %,0.57 %
3,212,American Samoa,43914,-0.81 %,-359,220,200,-790,2.2,29.0,N.A.,0.00 %
4,202,Andorra,80088,0.33 %,264,170,470,200,1.1,43.0,85 %,0.00 %

In [10]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            234 non-null    int64
 1   Country         234 non-null    object
 2   Population2023  234 non-null    int64
 3   YearlyChange    234 non-null    object
 4   NetChange       234 non-null    int64
 5   Density(P/Km²)  234 non-null    int64
 6   Land Area(Km²)  234 non-null    int64
 7   Migrants(net)   234 non-null    int64
 8   Fert.Rate       233 non-null    float64
 9   MedianAge       233 non-null    float64
 10  UrbanPop%       234 non-null    object
 11  WorldShare      234 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 22.1+ KB

## Trayendo mi función creada

In [12]:
%run clasecreada.py

In [13]:
# Creamos una instancia de la clase MissingValueHandler con el DataFrame como argumento
missing_handler = MissingValueHandler(dataframe)

In [15]:
# Llamamos al método remove_missing_values para eliminar valores faltantes en filas por defecto
cleaned_df = missing_handler.remove_missing_values()
cleaned_df.head(5)

,Rank,Country,Population2023,YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop%,WorldShare
0,36,Afghanistan,42239854,2.70 %,1111083,65,652860,-65846,4.4,17.0,26 %,0.53 %
1,138,Albania,2832439,-0.35 %,-9882,103,27400,-8000,1.4,38.0,67 %,0.04 %
2,34,Algeria,45606480,1.57 %,703255,19,2381740,-9999,2.8,28.0,75 %,0.57 %
3,212,American Samoa,43914,-0.81 %,-359,220,200,-790,2.2,29.0,N.A.,0.00 %
4,202,Andorra,80088,0.33 %,264,170,470,200,1.1,43.0,85 %,0.00 %

In [16]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233 entries, 0 to 233
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            233 non-null    int64
 1   Country         233 non-null    object
 2   Population2023  233 non-null    int64
 3   YearlyChange    233 non-null    object
 4   NetChange       233 non-null    int64
 5   Density(P/Km²)  233 non-null    int64
 6   Land Area(Km²)  233 non-null    int64
 7   Migrants(net)   233 non-null    int64
 8   Fert.Rate       233 non-null    float64
 9   MedianAge       233 non-null    float64
 10  UrbanPop%       233 non-null    object
 11  WorldShare      233 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 23.7+ KB